// Cria nosso tema
$my-color-1: #2c4554;
$my-color-2: #5e5856;
$my-color-3: #1ab6d2;
$my-color-4: #b4babf;
$my-color-5: #2818d0;

$theme-colors:(
    "my-color-1": $my-color-1,
    "my-color-2": $my-color-2,
    "my-color-3": $my-color-3,
    "my-color-4": $my-color-4,
    "my-color-5": $my-color-5
);

// Classes personlizadas
$link-color: $my-color-5;
$body-bg:$my-color-3;

// Deixa as imagens dos posts responsivas
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

// importa o Bootstrap no Arquivo src/css/style.css
@import "node_modules/bootstrap/scss/bootstrap";